<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!--对象的别名配置  author:wangchen.gpx  since：15/7/11-->
    <typeAliases>
        <typeAlias alias="Student" type="com.mybatis3.domain.Student"></typeAlias>
    </typeAliases>

    <!--数据库连接的配置  author:wangchen.gpx  since：15/7/11-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"></property>
                <property name="url" value=""></property>
                <property name="username" value=""></property>
                <property name="password" value=""></property>
            </dataSource>
        </environment>
    </environments>


    <mappers>
        <mapper resource="com/mybatis3/mappers/StudentMapper.xml"></mapper>
    </mappers>
</configuration>